In [28]:
import pandas as pd

In [38]:
df = pd.read_excel('data.xlsx')

# applying filter function  
df = df.filter(["PR_Anlage_ID", "Datum/Uhrzeit", "Freie Parkplaetze"])

In [39]:
df = df.loc[df['PR_Anlage_ID'] == 1]

In [40]:
#df['Datum/Uhrzeit'] = pd.to_datetime(df['Datum/Uhrzeit']).dt.strftime('%A %H:%M')
df['Datum/Uhrzeit'] = pd.to_datetime(df['Datum/Uhrzeit']).dt.strftime('%A')


df = df.groupby('Datum/Uhrzeit', sort=True)['Freie Parkplaetze'].agg(['sum','count', 'mean'])

In [41]:
df

                  sum  count       mean
Datum/Uhrzeit
Friday         103721   2304  45.017795
Monday         112735   2558  44.071540
Saturday       113492   2304  49.258681
Sunday         115680   2304  50.208333
Thursday       109056   2493  43.744886
Tuesday        113371   2592  43.738812
Wednesday      112448   2592  43.382716

In [42]:
df.to_excel(r'resample-week.xlsx', index=True, header =True)